*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    rgb(91, 91, 255),
    rgb(255, 104, 104)
  );
}

.button-container {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-location-button {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  height: 4rem;
  width: 25rem;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.125rem;
}

.find-location-button:hover {
  background-color: rgb(52, 52, 52);
}

.location-container {
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.location-list {
  width: 80%;
  height: auto;
  list-style: none;
}

.location-list li {
  height: 3rem;
  width: 100%;
  box-sizing: 0 0 15px black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  background-color: rgb(104, 0, 0);
  color: white;
  font-size: 1.125rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.location-list li:hover {
  background-color: rgb(202, 0, 0);
}

.times-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: flex-start;
}

.module-content {
  position: relative;
  top: 10rem;
  min-height: 10rem;
  width: 80%;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 15px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.departure-times {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 0;
}

.departure-times li {
  list-style: none;
  cursor: pointer;
  font-size: 1.125rem;
  margin: 0.5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
